@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p><span>The Pretty Girls Podcast was started in 1928 by Mindy Winters in an effort to inform, impress, and incite.</span>Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Suspendisse et libero nec ligula suscipit lobortis nec a leo. Mauris tincidunt enim 
    vel orci tincidunt iaculis. Vestibulum ut elit neque. Aliquam in neque lacus. Pellentesque condimentum orci sit amet elementum
    posuere. Aenean faucibus nunc at justo posuere scelerisque. In fermentum hendrerit tellus. Nullam convallis nisl mollis
    pharetra lacinia. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan,
    lectus sit amet vestibulum rutrum, elit massa bibendum mauris, a ultrices quam nisl at nisi. Nullam molestie semper fermentum.
    Nam sit amet sapien ligula. Aenean in maximus orci. Sed vulputate augue ut volutpat volutpat. Class aptent taciti sociosqu ad 
    litora torquent per conubia nostra, per inceptos himenaeos.
</p>

<p>Proin leo odio, venenatis sed tincidunt non, consequat eu arcu. Pellentesque quis lobortis felis. Aenean a consequat arcu.
    Curabitur in commodo risus. In hac habitasse platea dictumst. Pellentesque malesuada sapien in arcu vestibulum auctor.
    Pellentesque porta cursus dolor, et volutpat augue interdum at. Duis nec magna aliquet, finibus dolor sit amet, interdum
    metus. 
</p>
