@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    1234 Redstone Brick Way<br />
    Smalltown, US 12435<br />
    <abbr title="Phone">123.456.0789 </abbr>
    
</address>

<address>
    <strong>email:</strong>  <span>youremail</span>
</address>