@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRETTY GIRLS PODCAST</h1>
    <p class="lead">Pretty Girls Podcasts are about the lives, relationships, and trials & tribulations of the modern, strong, and independent woman of today.  
        Our topics cover a wide range of everyday concerns for women.  Whether it be the best workouts, relationship advice, or how to start your new job
        or start that new business on your own.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pretty Girl Podcast Hosts</h2>
        <p>
            Pretty Girls hosts come from a varied background.  Each chosen for their intimate knowledge of their
            chosen subject.  If you would be interested in becoming a guest host, please contact us.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Hosts", "Index", "Host")</a></p>
    </div>
    <div class="col-md-6">
        <h2>Pretty Girls Past Podcasts</h2>
        <p>Are podcasts are recorded and will be made available for retrieving and playing at your convenience
            in the not too distant future.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Podcasts", "Index", "Podcast")</a></p>
    </div>
</div>